:root {
    --main_blue: #1842b6;
    --main_green: #26d48c;
    --text-color: #787878;
    --background_color: #f6f6f6;
    --main_duration: 0.3s;
    --secondary_duration: 0.5s
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bellota Text', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Saira', sans-serif;
    background-color: var(--background_color);
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--main_blue);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main_green);
}

.container {
    padding: 0 1rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* ----------------------------------------------------------------------------------- */
/* Components */

.special-heading {
    margin: auto;
    text-align: center;
    max-width: 600px;
}

.small-text {
    font-size: 20px;
    font-weight: 600;
    color: var(--main_blue);
    margin-bottom: 8px;
}

.large-text {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    color: black;
    margin-bottom: 8px;
}

@media (max-width: 1200px) {
    .large-text {
        font-size: calc(1.375rem + 1.5vw);
    }
}

/* ----------------------------------------------------------------------------------- */
/* Header */

header {
    background-color: var(--main_blue);
    color: white;
    width: 100%;
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
}

.name {
    font-size: 39px;
    margin-bottom: 8px;
    cursor: pointer;
}

.name span {
    color: var(--main_green);
}

header nav .menu-button {
    background-color: var(--main_blue);
    padding: 3px 5px;
    border: 1px solid rgba(255, 255, 255, 0.575);
    border-radius: 5px;
    color: white;
    font-size: 22px;
}

@media (min-width: 991.9px) {
    header nav .menu-button {
        display: none;
    }
}

.links-list {
    display: flex;
    align-items: center;
}

.links-list .links {
    font-size: 18px;
    padding: 10px;
}

.links-list .links a {
    color: white;
    transition: var(--main_duration);
}

.links-list .links a:hover {
    color: var(--main_green);
}

.links-list .links a:focus {
    color: var(--main_green);
}

.links-list .links a i {
    font-size: 14px;
}

.questions {
    display: flex;
    align-items: center;
}

.questions i {
    display: block;
    padding: 10px;
    font-size: 30px;
    margin-right: 8px;
}

.questions .text span {
    color: var(--main_green);
}

@media (max-width: 991.9px) {
    header .name {
        font-size: 27px;
    }

    header nav .links-list {
        display: none;
    }

    header .questions {
        display: none;
    }

    header nav .menu-button:focus {
        border: 2px solid rgba(255, 255, 255, 0.575);
    }

    header nav .menu-button:focus+.links-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        width: 30%;
        background-color: var(--main_blue);
        z-index: 10;
    }

    .links a {
        font-size: 15px;
    }
}

/* ----------------------------------------------------------------------------------- */
/* Landing */

.landing {
    background-image: url(../images/landing1.jpg);
    background-size: cover;
    width: 100%;
    height: 682px;
    position: relative;
}

.landing .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box {
    width: 80px;
    height: 50px;
    background-color: var(--main_blue);
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--secondary_duration);
}

.left {
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 0 50px 50px 0;
}

.right {
    position: absolute;
    top: 50%;
    right: 0;
    border-radius: 50px 0 0 50px;
}

.icon-box:hover {
    background-color: var(--main_green);
}

.landing .overlay .text-content {
    width: 75%;
    margin: auto;
    text-align: center;
}

.text-content h3 {
    color: var(--main_green);
    font-size: 24px;
    margin-bottom: 8px;
}

.text-content h2 {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
    margin-bottom: 24px;
}

.text-content h4 {
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-bottom: 24px;
}

.text-content button {
    margin: 7px 16px;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 48px;
    border: none;
    border-radius: 32px;
    transition: var(--secondary_duration);
    cursor: pointer;
}

.text-content .read-more {
    background-color: var(--main_green);
    color: black;
}

.text-content .read-more:hover {
    background-color: var(--main_blue);
    color: white;
}

.text-content .contact-us {
    background-color: var(--main_blue);
    color: white;
}

.text-content .contact-us:hover {
    background-color: var(--main_green);
    color: black;
}

.overlay ul {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
}

.overlay ul li {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: var(--main_blue);
    transition: var(--main_duration);
}

.overlay ul li:hover {
    background-color: var(--main_green);
}

@media (max-width: 768px) {
    .icon-box {
        width: 32px;
        height: 32px;
        font-size: 16px;
    }

    .text-content h2 {
        font-size: 28px !important;
    }

    .text-content h4 {
        font-size: 14px !important;
    }

    .text-content button {
        font-size: 14px;
        padding: 16px 28px !important;
    }
}

@media (max-width: 992px) {
    .text-content h2 {
        font-size: 40px;
    }

    .text-content h4 {
        font-size: 16px;
    }

    .text-content button {
        padding: 18px 38px;
    }
}

/* ----------------------------------------------------------------------------------- */
/* Statistics */

.statistics {
    width: 100%;
    background-color: var(--main_green);
}

.statistics .container {
    display: flex;
    padding: 48px 12px;
}

.statistics .stat-item {
    display: flex;
    align-items: flex-start;
    padding: 0 12px;
    width: 25%;
}

.statistics .stat-item h2 {
    color: var(--main_blue);
    font-size: 40px;
    font-weight: 600;
    margin-right: 16px;
}

.statistics .stat-item h3 {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 768px) {
    .statistics .container {
        flex-direction: column;
    }

    .stat-item {
        width: 100% !important;
    }

    .statistics .stat-item h2 {
        font-size: 27px !important;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .statistics .container {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .stat-item {
        width: 50% !important;
    }

    .statistics .stat-item h2 {
        font-size: 35px;
        font-weight: 600;
    }

    .statistics .stat-item h3 {
        font-size: 20px;
        font-weight: 600;
    }
}

/* ----------------------------------------------------------------------------------- */
/* About Us */

.about {
    margin-top: 96px;
}

.about .container {
    display: flex;
    flex-wrap: wrap;
}

.about .images-container {
    width: 42%;
    height: 100%;
    padding: 0 18px 0 0;
    position: relative;
}

.images-container .back {
    width: 75%;
    margin-bottom: 25%;
    border-radius: 8px;
}

.images-container .front-cont {
    width: 75%;
    position: absolute;
    left: 25%;
    top: 25%;
}

.images-container .front-cont .front {
    width: 100%;
    border-radius: 8px;
}

.text-container {
    width: 58%;
    padding-left: 64px;
}

.text-container .special-heading {
    text-align: left;
    margin-bottom: -28px;
    margin-left: 0;
    padding-bottom: 48px;
}

.text-container p {
    color: var(--text-color);
    margin-bottom: 16px;
}

.more-details {
    color: white;
    background-color: var(--main_green);
    padding: 16px 48px;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    font-size: 16px;
    margin-top: 8px;
    cursor: pointer;
    transition: var(--secondary_duration);
}

.more-details:hover {
    background-color: #20c997;
}

@media (max-width: 767px) {
    .images-container {
        width: 100% !important;
        margin-bottom: 28px;
    }

    .text-container {
        width: 100%;
        padding-left: 0px;
    }
}

/* ----------------------------------------------------------------------------------- */
/* Services */

.services {
    margin-top: 96px;
}

.services-content {
    display: flex;
    flex-wrap: wrap;
}

.services-content .services-item {
    width: calc(100% / 3);
    padding: 0 24px;
    margin-top: 48px;
}

.services-content .services-shadow {
    box-shadow: 0 0 60px rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px 0;
    position: relative;
}

.services-content .services-box {
    text-align: center;
    padding: 24px;
}

.services-content .inner-content i {
    color: var(--main_blue);
    font-size: 80px;
    margin-bottom: 24px;
    transition: var(--secondary_duration);
}

.services-content .inner-content h4 {
    font-size: calc(1.175rem + 0.3vw);
    margin-bottom: 16px;
    font-weight: 600;
}

.services-content .inner-content p {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 24px;
    transition: var(--secondary_duration);
}

.services-content .inner-content button {
    color: white;
    background-color: var(--main_green);
    padding: 16px 48px;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    font-size: 16px;
    margin-top: 8px;
    cursor: pointer;
    transition: var(--secondary_duration);
}

.services-content .inner-content::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: #032bf3cc;
    z-index: -1;
    transition: var(--secondary_duration);
}

.services-content .services-item:hover .inner-content::after {
    height: 100%;
}

.services-content .services-item:hover .inner-content i {
    color: var(--main_green);
}

.services-content .services-item:hover .inner-content p {
    color: white;
}

.services-content .services-item:hover .inner-content button {
    background-color: #20c997;
}

@media (max-width: 768px) {
    .services-content .services-item {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .services-content .services-item {
        width: 50%;
    }
}

/* ----------------------------------------------------------------------------------- */
/* Projects */

.projects {
    margin-top: 96px;
}

.projects-content {
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    width: calc(100% / 3);
    padding: 0 24px;
    margin-top: 48px;
}

.project-img {
    position: relative;
    padding: 15px;
}

.project-img::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
    background: var(--main_green);
    border-radius: 10px;
    opacity: 1;
    z-index: -1;
    transition: var(--secondary_duration);
}

.project-img::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: 0;
    right: 0;
    transform: translate(0, -4.5%);
    background: var(--main_blue);
    border-radius: 10px;
    opacity: 1;
    z-index: -1;
    transition: var(--secondary_duration);
}

.project-img img {
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.project-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: var(--secondary_duration);
}

.project-content a {
    background-color: var(--main_blue);
    padding: 20px 25px;
    text-align: center;
    border-radius: 10px;
}

.project-content h3 {
    color: var(--main_green);
}

.project-content p {
    color: white;
}

.project-box:hover .project-img::before {
    opacity: 0;
}

.project-box:hover .project-img::after {
    opacity: 0;
}

.project-box:hover .project-content {
    opacity: 1;
}

@media (max-width: 768px) {
    .projects-content .project-item {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .projects-content .project-item {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .project-content h3 {
        font-size: 24px;
    }
}

/* ----------------------------------------------------------------------------------- */
/* News */

.news {
    margin-top: 96px;
}

.blogs-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.blogs-content .blog-item {
    width: calc(100% / 3);
    padding: 0 24px;
    margin-top: 48px;
}

.blogs-content .blog-item .blog-box {
    position: relative;
    background-color: rgb(240, 240, 240);
}

.blog-box .back-img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.blog-box span {
    position: absolute;
    top: -28px;
    right: 20px;
    border-radius: 8px;
    background-color: var(--main_blue);
    color: white;
    padding: 16px 24px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    margin-top: -75px;
    z-index: 2;
    position: relative;
}

.read-more-blog {
    padding: 12px 28px;
    border-radius: 90px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: var(--main_green);
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    transition: var(--secondary_duration);
}

.read-more-blog:hover {
    background-color: #20c997;
}

.share-btn {
    height: 49px;
    position: relative;
    overflow: hidden;
    border-radius: 90px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: var(--main_green);
    padding: 16px 38px;
}

.share-btn .btn {
    position: relative;
    top: -4px;
    padding: 0 8px;
    transition: var(--secondary_duration);
}

.share-icons {
    display: flex;
    position: absolute;
    top: 12px;
    left: -148px;
    transition: var(--secondary_duration);
}

.share-icons .icon {
    margin-right: 22px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    transition: var(--main_duration);
}

.share-btn:hover .btn {
    opacity: 0;
}

.share-btn:hover .share-icons {
    left: 26px;
}

.share-icons .icon:hover {
    color: var(--main_blue);
}

.blog-item-content {
    margin-top: -25px;
    padding: 0 16px;
    text-align: center;
    position: relative;
}

.blog-item-content img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 16px;
    border: 4px solid white
}

.blog-item-content h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

.blog-item-content .date {
    color: var(--main_green);
}

.blog-item-content .text {
    margin-bottom: 16px;
    padding: 8px 0;
    color: var(--text-color);
}

.reactions {
    display: flex;
    justify-content: space-between;
    padding: 8px 24px;
    background-color: var(--main_blue);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.reactions a {
    color: white;
}

.reactions a i {
    color: var(--main_green);
    margin-right: 5px;
}

@media (min-width: 360px) and (max-width: 390px) {
    .read-more-blog {
        padding: 11px 15px;
    }

    .share-btn {
        padding: 15px 25px;
    }
}

@media (max-width: 991px) {
    .blogs-content .blog-item {
        width: 100%;
    }

    .reactions a {
        font-size: 12px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .blogs-content .blog-item {
        width: 50%;
    }
}

/* ----------------------------------------------------------------------------------- */
/* Team */

.team {
    margin-top: 96px;
}

.team-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-item {
    width: calc(100% / 3);
    padding: 0 24px;
    margin-top: 48px;
}

.team-box {
    padding: 30px 30px 0px 30px;
    background: rgba(239, 239, 241, 0.8);
    border-top: 30px solid var(--main_green);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    position: relative;
}

.team-box::before {
    content: "";
    position: absolute;
    top: -101px;
    left: 0;
    height: 200px;
    width: 100%;
    background: var(--main_green);
    clip-path: polygon(50% 50%, 100% 50%, 50% 100%, 0% 50%);
    opacity: 1;
}

.team-box figure {
    display: flex;
    border: 10px solid white;
    border-radius: 50%;
    position: relative;
}

.team-box figure img {
    width: 100%;
    background: rgba(239, 239, 241);
    border: 8px solid var(--main_green);
    border-radius: 50%;
    position: relative;
    transition: var(--secondary_duration);
}

.team-box:hover figure img {
    transform: scale(1.04);
}

.team-box h4 {
    margin-top: 16px;
    margin-bottom: 8px;
    text-align: center;
    font-size: 24px;
    transition: var(--secondary_duration);
}

.team-box:hover h4 {
    color: var(--main_blue);
}

.team-box p {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 16px;
}

.team-box .links {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}

.team-box .links a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 5px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: var(--main_green);
    transition: var(--secondary_duration);
}

.team-box .links a:hover {
    background-color: #20c997;
    color: var(--main_blue);
}

@media (max-width: 991px) {
    .team-content .team-item {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .team-content .team-item {
        width: 50%;
    }
}

/* ----------------------------------------------------------------------------------- */
/* Testimonials */

.testimonials {
    margin-top: 96px;
}

.testimonials-content {
    display: flex;
    flex-wrap: wrap;
}

.testimonial-item {
    width: calc(100% / 3);
    padding: 24px;
    margin-top: 48px;
    background-color: #E3F0EB;
    border: 1px solid #dee2e6;
}

.center-item {
    background-color: white;
}

.testimonial-item .client {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.client-details {
    margin-left: 22px;
}

.client-details .client-name {
    font-size: 24px;
    color: var(--main_green);
    margin-bottom: 8px;
}

.client-details p {
    color: var(--text-color);
    margin-bottom: 16px;
}

.client-details ul {
    display: flex;
    margin-top: -4px;
}

.client-details ul li {
    color: var(--main_blue);
    margin-right: 4px;
}

.testimonial-item hr {
    margin: 16px 0px;
    border: 1px solid #dee2e6
}

.testimonial-item .testimonial {
    color: var(--text-color);
}

@media (max-width: 991px) {
    .testimonials-content .testimonial-item {
        width: 100%;
    }
}

/* ----------------------------------------------------------------------------------- */
/* Contacts */

.contacts {
    margin-top: 96px;
}

.contacts .contacts-content {
    position: relative;
    padding: 48px;
    margin-top: 48px;
}

.contacts .contacts-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: linear-gradient(rgb(210, 243, 235), rgba(230, 250, 245, .3)),
        url(../images/background.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    z-index: -1;
}

.contacts-content .contacts-details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contacts-item {
    width: calc(100% / 3);
    padding: 0px 24px;
    margin-top: 48px;
}

.contacts-box {
    display: flex;
    align-items: center;
    background-color: #f8f8f9;
    padding: 16px;
    border-radius: 8px;
}

.contacts-item i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px !important;
    height: 64px !important;
    border-radius: 50%;
    background-color: var(--main_green);
    color: white;
    font-size: 25px;
    margin-right: 16px;
}

.contacts-item .item-text h4 {
    font-size: calc(1.275rem + 0.3vw);
    font-weight: 600;
    color: var(--main_blue);
}

.contacts-item .item-text a h5 {
    font-size: 20px;
    color: black;
    transition: var(--secondary_duration);
}

.contacts-item .item-text a h5:hover {
    color: var(--main_blue);
}

.contact-form {
    width: 70%;
    margin: 48px auto 0;
    padding: 48px;
    background-color: var(--main_green);
    border-radius: 8px;
}

.top-in {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-form input {
    display: block;
    margin-bottom: 20px;
    padding: 16px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
    background-color: white;
    border: 0;
    outline: 0;
    border-radius: 8px;
}

.contact-form input:focus {
    outline: 4px solid #22B097;
}

.contact-form textarea:focus {
    outline: 4px solid #22B097;
}

.contact-form .in-text {
    width: 48.5%;
}

.contact-form .in-project {
    width: 100%;
}

.contact-form .in-message {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 16px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
    background-color: white;
    border: 0;
    outline: 0;
    border-radius: 8px;
}

.contact-form button {
    display: block;
    cursor: pointer;
    padding: 16px 48px;
    margin: 0 auto;
    background-color: var(--main_blue);
    color: white;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 991px) {
    .contacts-item {
        width: 100%;
        padding: 0px;
    }

    .contacts-item .item-text a h5 {
        font-size: 14px;
    }

    .contact-form {
        width: 100%;
        padding: 28px;
    }

    .contact-form .in-text {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .contacts-item {
        width: 50%;
    }

    .contact-form {
        width: 90%;
    }
}

/* ----------------------------------------------------------------------------------- */
/* Footer */

footer {
    background-color: #000103;
    color: white;
    padding: 48px 0 24px;
}

.links-columns {
    display: flex;
    flex-wrap: wrap;
}

.links-columns .column {
    width: 25%;
    padding: 0 24px;
}

.column .company {
    font-size: 40px;
    font-weight: 700;
}

.column .company span {
    color: var(--main_green);
}

.links-columns .text {
    font-size: 16px;
    color: #f8f8f9;
    margin: 24px 0 16px;
}

.column .icons-list {
    display: flex;
}

.column .icons-list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #f8f8f9;
    color: var(--main_blue);
    margin-right: 10px;
    transition: var(--secondary_duration);
}

.column .icons-list li a:hover {
    background-color: var(--main_green);
}

.column .heading {
    color: var(--main_green);
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 12px;
}

.arrows-list li {
    margin-bottom: 8px;
}

.arrows-list a {
    display: block;
    color: white;
    transition: var(--secondary_duration);
}

.arrows-list a i {
    color: var(--main_green);
    margin-right: 7px;
}

.arrows-list a:hover {
    letter-spacing: 1px;
}

.contacts-conatiner {
    margin-top: -20px;
}

.column .footer-contact-item {
    padding: 16px 0;
    transition: var(--secondary_duration);
    cursor: pointer;
    border-bottom: 1px solid var(--main_blue);
}

.column .footer-contact-item:hover {
    letter-spacing: 1px;
}

.column .footer-contact-item i {
    margin-right: 7px;
    color: var(--main_green);
}

footer hr {
    margin: 48px 0 24px;
    height: 1px;
    color: #f8f8f9;
    opacity: 0.25;
}

.footer-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-text p {
    color: #f8f8f9;
}

.footer-text i {
    color: var(--main_green);
    margin-right: 3px;
}

.footer-text span {
    color: var(--main_green);
}

.footer-text .name-1 {
    color: var(--main_green);
}

.footer-text .name-2 {
    color: var(--main_blue);
}

@media (max-width: 991px) {
    .links-columns .column {
        width: 100%;
    }

    .footer-text {
        text-align: center;
        /* width: 100%; */
    }

    .footer-text p {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .links-columns .column {
        width: 50%;
    }
}